html {
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  max-width: 100svw;
  max-width: 100%;
  overflow-x: visible;
}

.logo {
  width: 100px;
  scale: 2;
  padding: 5px;
  margin-left: 50px;
}

.c-center-div {
  margin: 20px auto;
}

.row {
  overflow: hidden;
}

.c-cards .row > div > div {
  min-height: 200px;
}

.c-course-img {
  height: 200px;
  object-fit: cover;
  display: block;
}

.c-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.c-height > div {
  flex-grow: 1;
}

.c-course-card > div > div {
  min-height: 800px;
}

svg text {
  animation: stroke 7s infinite alternate;
  stroke-width: 2;
  stroke: #ffffff;
  font-size: 50px;
}
@keyframes stroke {
  0% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }
  70% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(255, 255, 255, 1);
  }
  80% {
    fill: rgba(0, 0, 0, 0);
    stroke: rgba(255, 255, 255, 1);
    stroke-width: 3;
  }
  100% {
    fill: #fff;
    stroke: rgba(255, 255, 255, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.icons a i {
  font-size: 25px;
  margin-right: 10px;
}

.c-icon-slide {
  position: absolute;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.one {
  position: relative;
  overflow: hidden;
}

.one > img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  transform: translateX(-500px);
}

.one > .img-1 {
  animation: pop 20s ease-in-out infinite reverse;
}
.one > .img-2 {
  animation: pop 20s ease-in-out infinite reverse 1s;
}
.one > .img-3 {
  animation: pop 20s ease-in-out infinite reverse 2s;
}
.one > .img-4 {
  animation: pop 20s ease-in-out infinite reverse 3s;
}
.one > .img-5 {
  animation: pop 20s ease-in-out infinite reverse 4s;
}
.one > .img-6 {
  animation: pop 20s ease-in-out infinite reverse 5s;
}
.one > .img-7 {
  animation: pop 20s ease-in-out infinite reverse 6s;
}
.one > .img-8 {
  animation: pop 20s ease-in-out infinite reverse 7.5s;
}
.one > .img-9 {
  animation: pop 20s ease-in-out infinite reverse 12s;
}
.one > .img-10 {
  animation: pop 20s ease-in-out infinite reverse 13s;
}
.one > .img-11 {
  animation: pop 20s ease-in-out infinite reverse 14s;
}

@keyframes pop {
  from {
    transform: translateX(-900%);
  }
  to {
    transform: translateX(900%);
  }
}

@media only screen and (max-width: 600px) {
  .c-height {
    min-height: auto;
  }

  body {
    overflow-x: hidden;
  }
}

@media screen and (max-width: 1000px) {
  .hide {
    display: none;
    position: relative;
  }
}
