html {
  scroll-behavior: smooth;
}

.logo {
  width: 100px;
  scale: 2;
  padding: 5px;
  margin-left: 50px;
}

.c-center-div {
  margin: 20px auto;
}

.c-cards .row > div > div {
  min-height: 200px;
}

.c-course-img {
  height: 200px;
  object-fit: cover;
  display: block;
}

.c-height {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.c-height > div {
  flex-grow: 1;
}

.c-course-card > div > div {
  min-height: 800px;
}
